@model Models.DataAccess.ProductRequestDto

@{
    ViewBag.Title = ViewBag.ProductName;
}

<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-10 produti">
                <h4>@Model.ProdName</h4>
            </div>
            <div class="col-md-2 cart">
                <h4><a href="./cart">Giỏ hàng (0 items)</a></h4>
                <ul>
                    <li><a href="/">Trang chủ /</a></li>
                    <li><a href="/">Menu</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- shop-page -->
<div class="container content">
    <div class="row">
        <div class="col-md-9 white-bg">
            <!-- Single Product -->
            <div class="single-product cold-md-12">
                <div class="col-md-6">
                    <br>
                    <img src="@Model.ImageUrl" alt="img" style="width: 350px;height: 250px">
                </div>
                <div class="product-details col-md-6">
                    <h1>@Model.ProdName</h1>
                    <p class="price">
                        Giá : @ViewBag.Price đồng
                    </p>

                    <p>
                        Ngon tuyệt!
                    </p>

                    <form action="./cart/id/@Model.CateID" method="POST">

                        <div class="qtyminus">
                        </div>
                        <input type="number" name="quantity" value="1" class="qty" min="1" max="100">

                        <input type="submit" value="Thêm vào giỏ hàng" class="btn btn-warning" style="margin-left: 10px">
                    </form>

                    <hr>

                    <div class="reviews">
                        <ul>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Single Product -->
            </div>
            <div class="col-md-12 tabs">
                <div class="bs-example">
                    <div class="tabbable">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab1" data-loading-text="Loading...">Category</a></li>
                            <li><a data-toggle="tab" href="#tab2" data-loading-text="Loading...">Bình luận</a></li>
                            <li><a data-toggle="tab" href="#tab3" data-loading-text="Loading...">Đánh giá</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab1" class="tab-pane active fade in">
                                <p>
                                    @ViewBag.CateName
                                </p>
                            </div>
                            <div id="tab2" class="tab-pane fade">
                                <p>
                                    Mô tả thêm...
                                </p>
                            </div>
                            <div id="tab3" class="tab-pane fade">
                                <p>
                                    Mô tả thêm...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--articles-->
        </div>
        <div class="col-md-3 shop-sidebar">
            <div class="sidebar-widgets">
                @{Html.RenderAction("RightCategory", "Category");}
                <div class="shop-widget">
                    <h4>được yêu thích</h4>
                    <ul class="popular-product">
                        @for (var i = 0; i < @ViewBag.Length; i++)
                        {
                            <li>
                                <img src="@ViewBag.Related[@i].ImageUrl" alt="@ViewBag.Related[@i].ProdName" style="width: 50px;height: 50px">
                                <div>
                                    <h6><a href="#">@ViewBag.Related[@i].ProdName</a></h6>
                                    <span>@ViewBag.listPrice[@i] đồng</span>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--prize-->