@using System.Globalization
@model Models.DataAccess.ProductRequestDto

@{
    ViewBag.Title = ViewBag.ProductName;
    ViewBag.activeHome = "active";
}

@section css{
    <link href="~/assets/client/css/comment.css" rel="stylesheet" />
    <link href="~/assets/client/rateit/rateit.css" rel="stylesheet" type="text/css">
}

<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-10 produti">
                <h4 style="display: inline-block">@Model.ProdName</h4>
                <ul style="display: inline-block; font-size: 13px;">
                    <li style="display: inline-block"><a style="color: #e3d5ba;" href="/">Trang chủ /</a></li>
                    <li style="display: inline-block"><a style="color: #e3d5ba;" href="/">Menu</a></li>
                </ul>
            </div>
            <div class="col-md-2 cart">
                <h4><a href="/cart">Giỏ hàng (@ViewBag.SessionCart items)</a></h4>
            </div>
        </div>
    </div>
</div>
<!-- shop-page -->
<div class="container content">
    <div class="row">
        <div class="col-md-9 white-bg">
            <!-- Single Product -->
            <div class="single-product col-md-12" id="contact-right">
                <div class="col-md-6">
                    <br>
                    <img src="@Model.ImageUrl" alt="img" style="width: 100%;height: 250px">
                </div>
                <div class="product-details col-md-6">
                    <div>
                        <h1>@Model.ProdName</h1>
                        @{
                            CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");   // try with "en-US"
                            string price = double.Parse(Model.Cost.ToString()).ToString("#,###", cul.NumberFormat).Replace(".", ",");
                        }
                        <p class="price">Giá : @ViewBag.Price đồng</p>
                        <p>@Html.Raw(Model.Decription)</p>
                        <input type="number" name="quantity" value="1" class="qty" min="1" max="100" required>
                        <button type="button" class="btn btn-primary" data-id="@Model.ProdID" id="btn-order" style="margin-left: 10px">
                            <i class="fa fa-shopping-cart"> Thêm vào giỏ hàng</i>
                        </button>
                    </div>
                    <hr>
                    <div class="bigstars" id="start-medium">
                        <div id="rateit_star0" class="rateit" data-rateit-value="0" data-rateit-step="0.5" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-readonly="true"></div>
                    </div>
                </div>
                <!-- End Single Product -->
            </div>

            <div class="col-md-12 tabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#feedback">Đánh giá</a></li>
                    <li><a data-toggle="tab" href="#commentfeedback">Nội dung đánh giá</a></li>
                    <li><a data-toggle="tab" href="#comment">Bình luận</a></li>
                </ul>

                <div class="tab-content">
                    <!-- Rating -->
                    <div id="feedback" class="tab-pane fade in active">
                        <div class="row">
                            <hr />
                            <div class="col-sm-4">
                                <h4>Biểu đồ đánh giá</h4>
                                <div id="evaluation-chart">
                                    @{Html.RenderAction("EvaluationChart", "Rating", new { code = @ViewBag.prdID });}
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div id="feedback">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" name="ratingContent" id="ratingContent" placeholder="nội dung đánh giá" ></textarea>
                                    </div>
                                    <div class="form-group">
                                        <p>Bình chọn</p>
                                        <div class="bigstars">
                                            <div id="rateit_star" data-id="@Model.ProdID" class="rateit" data-rateit-value="5" data-rateit-step="0.5" data-rateit-starwidth="32" data-rateit-starheight="32"></div>
                                            <input type="button" id="add-rating" class="btn btn-primary" value="Đánh giá" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Feedback-->
                    <div id="commentfeedback" class="tab-pane fade">
                        <hr />
                        <div class="row">
                            <div class="pagination-ul">
                                <div id="feedback-main" class="">
                                    <!-- load feedback -->
                                </div>
                                <div class="pagination-ul">
                                    <ul id="pagination" class="pagination-sm no-margin pull-right"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Comment-->
                    <div id="comment" class="tab-pane fade">
                        <div class="row" style="margin: 0">
                            <!-- Contenedor Principal -->
                            <div class="comments-container">
                                <ul id="comments-list" class="comments-list">
                                    <!--load comment-->
                                </ul>
                                <div class="form-group" style="margin: 0; margin-top: 60px;">
                                    <input type="text" placeholder="Bình luận" data-prodId="@Model.ProdID" name="comment" id="commentInput" class="form-control" />
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>

            <!--articles-->
        </div>
        <div class="col-md-3 shop-sidebar">
            <div class="sidebar-widgets">
                @{Html.RenderAction("RightCategory", "Category");}
                <div class="shop-widget">
                    <h4>được yêu thích</h4>
                    <ul class="popular-product">
                        @for (var i = 0; i < @ViewBag.Length; i++)
                        {
                            <li>
                                <img src="@ViewBag.Related[@i].ImageUrl" alt="@ViewBag.Related[@i].ProdName" style="width: 50px;height: 50px;margin: 0;">
                                <div>
                                    <h6><a href="/product/detail?code=@ViewBag.Related[@i].Code">@ViewBag.Related[@i].ProdName</a></h6>
                                    <span>@ViewBag.listPrice[@i] đồng</span>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--prize-->

<script id="comment-template" type="x-tmpl-mustache">
    <li>
        <div class="line-comment" style="height: {{Height}}px"></div>
        <div class="comment-main-level">
            <!-- Avatar -->
            <div class="comment-avatar"><img src="/assets/client/images/{{Img}}.jpg" /></div>
            <div class="comment-box" style="margin-bottom: 5px">
                <div class="comment-head">
                    <h6 class="comment-name"><a href="#">{{UserName}}</a></h6>
                    <span>{{CreatedAt}}</span>
                    {{{isDelete}}}
                </div>
                <div class="comment-content">
                    {{Content}}
                </div>
            </div>
        </div>
        <!-- Respuestas de los comentarios -->
        <ul class="comments-list reply-list">
            <!-- load reply -->
            <li>
                <ul>{{{Replies}}}</ul>
            </li>
            <li>
                <input width="100%" type="text" placeholder="Phản hồi bình luận" name="reply-{{ComID}}" id="reply-{{ComID}}" data-prodId="{{ProdId}}" data-comid="{{ComID}}" class="form-control reply-input" />
            </li>
        </ul>
    </li>
</script>
<script id="reply-template" type="x-tmpl-mustache">
    <li>
        <!-- Avatar -->
        <div class="comment-avatar"><img src="/assets/client/images/{{Img}}.jpg" /></div>
        <div class="comment-box" style="margin-bottom: 5px">
            <div class="comment-head">
                <h6 class="comment-name">{{UserName}}</h6>
                <span>{{CreatedAt}}</span>
                {{{isDelete}}}
            </div>
            <div class="comment-content">
                {{Content}}
            </div>
        </div>
    </li>
</script>
<script id="rating-template" type="x-tmpl-mustache">
    <div class="rating-avatar"><img src="/assets/client/images/{{Img}}.jpg" /></div>
    <div class="rating-box" style="margin-bottom: 5px">
        <div class="rating-head">
            <div>
                <h6 class="rating-name">{{UserName}}</h6>
                <span>{{CreatedAt}}</span>
                <div id="rating-val-{{Count}}" class="rateit" data-rateit-value="" data-rateit-readonly="true"></div>
            </div>
            <div>{{Content}}</div>
        </div>
    </div>
</script>

@section JavaScript{
    <script src="~/assets/client/rateit/jquery.rateit.js" type="text/javascript"></script>
    <script src="~/assets/client/app/addCart.js"></script>
    <script src="~/assets/client/app/productController.js"></script>
}