@section JavaScript{

    <script src="~/assets/client/app/cartController.js"></script>
}
@{
    ViewBag.Title = "Category";
    ViewBag.activeHome = "";
    ViewBag.activeMenu = "";
    ViewBag.activeCart = "active";
    ViewBag.activeAbout = "";
    ViewBag.activeContact = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--articles-->
<div class="container">
    <div class="row articles">
        <!-- list category order -->
        <div class="col-md-9 white-bg">
            <div class="col-md-12" style="background: #fff">
                <div style="margin-top: 15px">
                    <p class="box-title">Thông tin giỏ hàng</p>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-striped table-bordered table-hover" style="font-size: 13px;">
                        <thead>
                            <tr role="row">
                                <th style="text-align: center;">Ảnh sản phẩm</th>
                                <th style="text-align: center;">Tên sản phẩm</th>
                                <th style="text-align: center;">Mã sản phẩm</th>
                                <th style="text-align: center;">Giá</th>
                                <th style="text-align: center;">Số lượng</th>
                                <th style="text-align: center;">Chức năng</th>
                            </tr>
                        </thead>
                        <tbody id="table-data">
                            <tr>
                                <td colspan="6" style="text-align: center">
                                    Chưa có sản phẩm nào được chọn!
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <div class="row">
                        <div class="col-sm-6">
                            <p style="float: left;margin-top: -10px!important;"><span id="dataTables_info"></span></p>
                        </div>
                        <div class="col-sm-6 pagination-ul">
                            <ul id="pagination" class="pagination-sm no-margin pull-right" style="margin-bottom: 15px!important;margin: 0;"></ul>
                        </div>
                    </div>
                </div>
                <!--articles-->
            </div>
        </div>
        <div class="col-md-3 shop-sidebar">
            <div class="sidebar-widgets">
                <div class="shop-widget">
                    <h4>Hóa Đơn</h4>
                    <table class="category-shop-list" id="bill-orders" style="width: 100%"></table>
                </div>
                @*@{Html.RenderAction("RightCategory", "Category");}*@
                <div class="shop-widget">
                    <h4>được yêu thích</h4>
                    <ul class="popular-product">
                        @for (var i = 0; i < @ViewBag.Length; i++)
                        {
                            <li>
                                <img src="@ViewBag.Related[@i].ImageUrl" alt="@ViewBag.Related[@i].ProdName" style="width: 50px;height: 50px; margin: 0">
                                <div>
                                    <h6><a href="/product/detail?code=@ViewBag.Related[@i].Code">@ViewBag.Related[@i].ProdName</a></h6>
                                    <span>@ViewBag.listPrice[@i] đồng</span>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end-prize-->
<!-- /.box -->
<script id="data-template" type="x-tmpl-mustache">
    <tr id="row-{{ProdId}}">
        <td>
            <img class="img-responsive" style="width: 100px; height: 100px; margin-top: 0px;" src="{{ImageUrl}}" alt="{{ProdName}}" />
        </td>
        <td>{{ProdName}}</td>
        <td>{{Code}}</td>
        <td>{{Cost}}</td>
        <td>{{Amount}}</td>
        <td>
            <a class="btn-delete" data-productid="{{ProdId}}" data-productname="{{ProdName}}" href="#">Xóa</a> | 
            <a class="btn-edit" data-productid="{{ProdId}}" data-amount="{{Amount}}" href="#">Cập nhật</a>
        </td>
    </tr>
</script>