@model Models.DataAccess.UserDto
<div class="box box-primary" style="margin-top:15px;">
    <div>
        <h3 class="text-center box-title">Đăng nhập</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding col-md-4 col-md-offset-4">
        @using (Html.BeginForm("Login", "User", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group ">
            </div>
            <div class="form-group ">
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder = "Tên đăng nhập", @autofocus = "autofocus" })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group ">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Mật khẩu" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
            <div>
                <button type="submit" class="btn btn-primary btn-block btn-flat">Đăng nhập</button>
            </div>

        }
    </div>
</div>