@model Models.DataAccess.Dto.UserRegister

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.activeHome = "active";
}

@section JavaScript{
    <script src="~/assets/client/app/register.js"></script>
}

<!--articles-->
<div class="container">
    <div class="row articles">
        <!-- list category order -->
        <div class="col-md-9 white-bg">
            <div class="col-md-12" style="background: #fff" id="contact-right">
                <div>
                    <p class="box-title">Thông tin tài khoản</p>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <!-- Content -->
                    <div id="registerForm" style="width: 60%; margin: auto">
                        <div id="validation" class="form-group alert-danger" style="margin: 10px 0px;"></div>
                        <div class="form-group ">
                            <label for="userid">Tên đăng nhập</label>
                            <input type="text" name="userid" id="userid" style="margin-top: 5px;" class="form-control" required autofocus />
                        </div>
                        <div class="form-group ">
                            <label for="password">Mật khẩu</label>
                            <input type="password" name="password" id="password" style="margin-top: 5px;" class="form-control" required />
                        </div>
                        <div class="form-group ">
                            <label for="confirmPassword">Xác nhận mật khẩu</label>
                            <input type="password" name="confirmPassword" id="confirmPassword" style="margin-top: 5px;" class="form-control" required />
                        </div>
                        <div class="form-group ">
                            <label for="fullName">Tên người dùng</label>
                            <input type="text" name="fullName" id="fullName" style="margin-top: 5px;" class="form-control" required />
                        </div>
                        <div class="form-group ">
                            <label for="email">Địa chỉ email</label>
                            <input type="email" name="email" id="email" style="margin-top: 5px;" class="form-control" required />
                        </div>
                        <div class="form-group ">
                            <label for="phone">Số điện thoại</label>
                            <input type="text" name="phone" id="phone" style="margin-top: 5px;" class="form-control" />
                        </div>
                        <div class="form-group ">
                            <label for="address">Địa chỉ</label>
                            <input type="text" name="address" id="address" style="margin-top: 5px;" class="form-control" />
                        </div>
                        <div>
                            <button type="button" id="btnRegister" class="btn btn-primary btn-block btn-flat">Đăng ký</button>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">

                </div>
                <!--articles-->
            </div>
        </div>
        <div class="col-md-3 shop-sidebar">
            <div class="sidebar-widgets">
                @{Html.RenderAction("RightCategory", "Category");}
                <div class="shop-widget">
                    <h4>được yêu thích</h4>
                    <ul class="popular-product">
                        @for (var i = 0; i < @ViewBag.Length; i++)
                        {
                            <li>
                                <img src="@ViewBag.Related[@i].ImageUrl" alt="@ViewBag.Related[@i].ProdName" style="width: 50px;height: 50px; margin: 0">
                                <div>
                                    <h6><a href="/product/detail?code=@ViewBag.Related[@i].Code">@ViewBag.Related[@i].ProdName</a></h6>
                                    <span>@ViewBag.listPrice[@i] đồng</span>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end-prize-->
<!-- /.box -->
<script id="data-template" type="x-tmpl-mustache">
    <tr id="row-{{ProdId}}">
        <td>
            <img class="img-responsive" style="width: 100px; height: 100px; margin-top: 0px;" src="{{ImageUrl}}" alt="{{ProdName}}" />
        </td>
        <td>{{ProdName}}</td>
        <td>{{Code}}</td>
        <td>{{Cost}}</td>
        <td>{{Amount}}</td>
        <td>
            <a class="btn-delete" data-productid="{{ProdId}}" data-productname="{{ProdName}}" href="#">Xóa</a>
            <a class="btn-edit" data-productid="{{ProdId}}" data-amount="{{Amount}}" href="#">Cập nhật</a>
        </td>
    </tr>
</script>