@model Models.DataAccess.Dto.UserRegister
<div class="box box-primary" style="margin-top:15px;">
    <div>
        <h3 class="text-center box-title">Thông tin tài khoản</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding col-md-4 col-md-offset-4">
        @using (Html.BeginForm("Register", "User", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group ">
            </div>
            <div class="form-group ">
                @Html.TextBoxFor(model => model.UserID, new { @class = "form-control", @placeholder = "Tên đăng nhập", @autofocus = "autofocus" })
                @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
            </div>
            <div class="form-group ">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Mật khẩu" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group ">
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Xác nhận mật khẩu" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group ">
                @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", @placeholder = "Tên người dùng" })
                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group ">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email", @type="email" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group ">
                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @placeholder = "Số điện thoại" })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
            <div class="form-group ">
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @placeholder = "Địa chỉ" })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
            <div>
                <button type="submit" class="btn btn-primary btn-block btn-flat">Đăng ký</button>
            </div>
            <div class="clear-fix" style="margin-top: 10px;">
                Đã có tài khoản? <a href="/user/login" class="text-center">Đăng nhập</a>
            </div>
        }
    </div>
   
</div>